= effective_form_with(model: [:admin, question], engine: true) do |f|
  - if inline_datatable?
    = f.hidden_field :questionable_type
    = f.hidden_field :questionable_id
  - else
    %P TODO

  -# Follow up
  - if inline_datatable? && (original = f.object.question).present?
    = f.hidden_field :follow_up, value: true
    = f.hidden_field :question_id

    .mb-3.card
      .card-body
        %h5 Follow up Question
        %p.text-muted This question will only appear when they answer the above question with the following value:

        - if original.question_option?
          = f.select :question_option_id, original.question_options, label: 'Answer required to display this question'
        - else
          = f.text_field :follow_up_value, label: 'Answer required to display this question', required: true, hint: 'Enter the exact answer value that should trigger this question to appear'

  = f.text_field :title, label: 'Question Title'
  .row
    .col= f.text_field :task, hint: 'An optional task name or number used in exports'
    .col= f.number_field :points, hint: 'An optional number of points awarded for this question'

  - if defined?(EffectiveArticleEditor)
    = f.article_editor :body, label: 'Body (optional)'
  - else
    = f.rich_text_area :body, label: 'Body (optional)'

  = f.check_box :required, hint: 'A response to this question will be required'

  = f.select :category, Effective::Question::CATEGORIES
  .mt-3= render('admin/questions/fields_category', f: f)

  = f.check_box :scored, hint: 'Any responses to this question will be automatically scored'
  .mt-3= render('admin/questions/fields_scored', f: f)

  = effective_submit(f)

- unless question.follow_up?
  %h2 Follow up questions

  - if Effective::Question::UNSUPPORTED_FOLLOW_UP_QUESTION_CATEGORIES.include?(question.category)
    %p.text-muted 
      %em Follow up questions are not supported for the #{question.category} question category
  - elsif question.new_record?
    %p.text-muted 
      %em Please save this question to add follow up questions
  - else
    %p Display follow up question(s) based on the answer to this question:
    = render_inline_datatable Admin::EffectiveQuestionsDatatable.new(follow_up: true, question: question)
